@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSansKR';
  src: url('./assets//font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  @apply h-full;
}

#root {
  @apply font-noto-sans-kr h-full;
}
